-e git+git://github.com/f4nt/gmecol.git#egg=gmecol
psycopg2
-e git+git://github.com/f4nt/GiantBomb.git#egg=Giantbomb
python-memcached
django-simple-friends
Markdown==2.2.0
-e git+git://github.com/macropin/django-registration#egg=registration
django-markup-deprecated
Django==1.7
