    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">gmeCol</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              {% if request.user.is_authenticated %}
              Logged in as <a href="{% url "profile" request.user.pk %}" class="navbar-link">{{ request.user.username }}</a> : <a href="{% url "auth_logout" %}">Logout</a>
              {% else %}
                  <a href="{% url "auth_login" %}">Login</a> | <a href="{% url "registration_register" %}">Register</a>
              {% endif %}
            </p>
            <ul class="nav">
              <li class="active"><a href="{% url "index" %}">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
