<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'includes/head.html' %}
    <title>gmecol{% block title %}{% endblock %}</title>
    {% block head %}
    {% endblock %}
  </head>
  <body>

    {% include 'includes/navbar.html' %}
    <div class="container" role="main">
          <div class="jumbotron">
            <h1>{% block stage_header %}{% endblock %}</h1>
            <p>{% block stage_intro %}{% endblock %}</p>
          </div>
      <div class="row">
        {% block content %}{% endblock %}
      </div><!--/row-->

      <hr>

      {% include 'includes/footer.html' %}

    </div><!--/.fluid-container-->
    {% include 'includes/script.html' %}
    {% block extra_js %}
    {% endblock %}

  </body>
</html>

